body, html {

    height: 100%;

    margin: 0;

    padding: 0;

    font-family: 'Ropa Sans', sans-serif;

}



#container {

    width: 100%;

    min-height: 90%;

    margin: 0;

    padding: 0;

    font-family: 'Ropa Sans', sans-serif;

}

  
#prev, #next {

    text-decoration: none;

    font-size: 1.3em;

}



#nav {

    text-align: center;

}



a:link{

	text-decoration:none;	

}



#content {	min-height: 100%



}



#topBarContainer {    

	left: 0px;

  top: 0px;

  z-index: 999;

  width: 100%;

  -webkit-box-shadow: 0px 2px 5px #888;

  -moz-box-shadow: 0px 2px 5px #888;

  box-shadow: 0px 2px 5px #888;

	background: rgb(69,72,77); /* Old browsers */

	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera11.10+ */

	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */

}



#topBar {    padding: 10px 20px 20px 20px;

    color: #aaa;

}



#topBar h1 {	font-size: xx-large;

	/*color: #333333;*/



	color: #ddd;

}



#topBar h2 {	font-size: large;

	color: #a22;	



}



#topBarActions {position: absolute;

	right: 20px;

}



#topBarActions li {	display: inline;

	font-size: small;

}



#chartArea {text-align: center;

}



#chart {font: 10px sans-serif;}



.chord path {

    fill-opacity: .67;

    stroke: #000;

    stroke-width: .5px;

  }



#info {	position:fixed; 

	bottom: 6px; 

	left: 8px; 

	z-index:1;

	font-size:12px;	

}



#navigationBar {	bottom: 20px;

	height: 80px;

	width: 100%;

	position: absolute;

}



#navigationControl {	font-size:12px;

	text-align: center;

	margin: 2 0 0 0;

}



.control {

    border-left: 0 none;

    height: 10px;

    position: relative;

    width: 214px;

}



dl.col {

    display: inline-block;

    padding: 4px;

}



.inactive {

    color: #ccc;

    text-decoration: none;

    cursor: default;

}



div.panelContainer {

	border-radius:         10px;

	-moz-border-radius:    10px;

	-webkit-border-radius: 10px;

	background:#222 !important;

	color: #b0b0b0;

	padding:0px 10px 0px 10px;

	margin:10px;

	position: absolute;

	width: 360px;

	font-size: 12px;

}



div.panel {

	width: 100%;

	padding: 10px 0px 10px 0px;

}



div.panel em {

	color: #f0f0f0;

}



div.panel h1 {

	color: #f0f0f0;

	font-size: 15px;

	margin-bottom: 5px;

	padding: 1px;

	font-weight: normal;

}



#logo{	
	margin: 10px;
}



.axis {

  shape-rendering: crispEdges;

    stroke-opacity: 0.6;
    fill-opacity: 0.6;

}



.axis line, .axis path {

  fill: none;

  stroke: #000;

}



div#networkLabel {

	position: absolute; 

	top: 0; 

	right: 0; 

	margin: 20px; 

	text-align: right; 

	color: #606060; 

}



/* Popup menu */



ul.popup {



    font-size: 14px;

    height: auto;

    list-style: none outside none;

    margin: 0;

    padding: 0;

		margin-top:5px;

}



ul.popup li {

    display: block;

    position: relative;

    float: left;

}



ul.popup li ul {

    display: none;

}



ul.popup li span,



.downloadLink {

    display: block;

    text-decoration: none;

    color: #ffffff;

    padding: 5px 5px 5px 5px;

    white-space: nowrap;

    cursor:pointer;

		border-right:1px solid #e2e2e2;

}



ul.popup li span:hover,

.downloadLink:hover {

	opacity:0.5;

	background-color: #fff !important;

}



ul.popup li:hover ul {

    display: block;

    position: absolute;

    bottom: 27px;

		opacity:0.5;

		background-color: #fff !important;

}



ul.popup li:hover li {

    float: none;

    font-size: 11px;

   	opacity:0.5;

		background-color: #fff !important;

}



ul.popup li:hover span { background-color: #fff !important; }



ul.popup li:hover li span:hover {



	opacity:0.5;

	background-color: #fff;

}



/*additional style by klarzurwende october 2012*********************************************************************/



p {font-size:100% !important;}



html, body {

    color: #000;

    font-family: 'Ropa Sans', sans-serif;

    font-size: 16px;

}



a[href] {

    text-decoration: none;

    color: #0e5693;

}



a[href]:visited {

	 text-decoration: none;

    color: #0e5693;

}



a[href]:hover {

 text-decoration: none;

    color: #000;

}



a:hover {

 text-decoration: none;

    color: #000;

}



#explorePanelContainer {background: none repeat scroll 0 0 #222222;color: #B0B0B0;}

div.panel h1 {font-size: 1.5em;font-weight: bold;margin-bottom: 10px;padding: 1px;}

#mappingsPanel select {min-width: 150px;max-width:150px;font-size: 1.0em;}

.legend{
	width:350px;
	text-align:left;
}

.legend h1{
	margin-bottom:15px;	
}

.legend p{
	margin-bottom:10px;
}

.node-shape:hover, .node-selected {
    stroke-width: 2px;
    stroke: gray;
    cursor: pointer;
}

.node-active {
	stroke-width: 2px;
	stroke: red;
}

/**
 * Styles added by Ashish for Node Pop-Over
 */
.popover {
    position: relative;
    display: block;
    float: left;
}

.popover {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1010;
    display: none;
    /*max-width: 150px; Kimmo 4-6-2013*/
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: white;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
/*
.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #F7F7F7;
    border-bottom-width: 0;
}
.popover .arrow {
    border-width: 11px;
}
.popover .arrow, .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}


.popover .arrow::after {
    border-width: 10px;
    content: "";
}
.popover .arrow, .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
*/
.popover {
    text-align: left;
    white-space: normal;
}

.popover-title {
    padding: 2px 14px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
    font-size: 14px;
}
/*
.popover.bottom .arrow {
    top: -11px;
            left: 50%;
            margin-left: -11px;
            border-bottom-color: #F7F7F7;
            border-top-width: 0;
}
*/
.arrow.arrow-up {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
}

.arrow-up-border{
    width: 0; 
    height: 0;
    position: absolute;
    left: 50%; 
    margin-left: -11px;
    margin-top: -12px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid #fff;
    z-index: 15;
}

.arrow.arrow-down {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -10px;
    margin-bottom: -10px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid #fff;
    z-index: 15;
}

.arrow-down-border{
    width: 0; 
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0%; 
    margin-left: -12px;
    margin-bottom: -12px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    
    border-top: 11px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.arrow.arrow-right {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: -10px;
    margin-top: -10px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid #fff;
    z-index: 15;
}

.arrow-right-border{
    width: 0; 
    height: 0;
    position: absolute;
    top: 50%;
    right: 0%; 
    margin-right: -12px;
    margin-top: -11px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    
    border-left: 11px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.arrow.arrow-left {
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid #fff; 
    z-index: 15;
}

.arrow-left-border{
    width: 0; 
    height: 0;
    position: absolute;
    top: 50%;
    left: 0%; 
    margin-left: -12px;
    margin-top: -11px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    
    border-right: 11px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.popover.bottom {
    margin-top: 10px;
}

.popover .popup-wrapper-table td.separator{
    padding: 0 6px;
}

.popover-panel {
    border: none;
    box-shadow: none;
    margin: 0;
}

.popover-panel .popover-content {
    padding: 0;
}

.popover-panel .arrow {
    visibility: hidden;
}

.popover-panel .arrow-border {
    visibility: hidden;
}
/**
* End of Styles added by Ashish for Pop-Over
*/

.popover td{
    padding-right: 5px; /* Added by Kimmo 14 June 2013 */
}

.info-help {
    margin: 2px 0;
    display: inline-block;
}

#popupContainer, #transportBarContainer {
	display: block; 
	float: left;
}