#navigationBar { display: none; }
#info { display: none; }
#rightPanels { display: none; }
@page :left {
    margin-left: 0.8in;
    margin-right: 0.8in;
}

@page :right {
    margin-left: 0.8in;
    margin-right: 0.8in;
}
