.transportBar>svg, #seriesLabel {
	font: 10px sans-serif;
}

.knob {
	cursor: pointer;
	stroke: dodgerblue;
	fill: dodgerblue;
	shape-rendering: crispEdges;
	stroke-width: 2;
}

rect.background {
	fill: none; 
	stroke: #ccc;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.dragArea, .knob {
	fill-opacity: 0;
}

text, path, line, rect {
	fill-opacity: 1;
	stroke-opacity: 1;
}

.transportBar .callout text, .transportBar .tooltip text {
	font-size: 14px;
	fill: #fff;
	stroke-width: 0px;
}

.axis path,.axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #999;
}

.axis text {
	fill: #999;
	stroke-width: 0px;
}

.serie.highlights rect {
    fill: #000 !important;
    stroke: #000 !important;
    display: none;
}

.serie rect {
	/*fill-opacity: 0.7;
	stroke-width: 0;*/
}

.serie path {
	fill: none;
}

.serie.s0, .label.s0 {
	fill: #4DAF4A;
	stroke: #4DAF4A;
}

.serie.s1, .label.s1 {
	fill: #E41A1C;
	stroke: #E41A1C;
}

.serie.s2, .label.s2 {
	fill: #377EB8;
	stroke: #377EB8;
}

.serie.s3, .label.s3 {
	fill: #FF7F00;
	stroke: #FF7F00;
	}

.serie.s4, .label.s4 {
	fill: #984EA3;
	stroke: #984EA3;
}

.controlBar {
/* 	width: 100; */
/* 	height: 100%; */
}

.controlBar div {
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 12px 4px;
}

.controlBar div:hover {
	cursor: pointer;
}

.controlBar .arrow {
	width: 32px;
	height: 32px;
}

.controlBar .text-button {
	width: 110px;
	height: 30px;
	color: #7a7a7a;
	font-size: 13px;
	padding-top: 6px;
}

.controlBar .text-button span {
	padding: 0 20px 0 50px;
}

.controlBar .play {
	background: #f6f6f6 url(../img/play.png) 26px 8px no-repeat;
}

.controlBar .play:hover {
	background: #dfdfdf url(../img/play.png) 26px 8px no-repeat;
}

.controlBar .pause {
	background: #f6f6f6 url(../img/pause.png) 21px 6px no-repeat;
}

.controlBar .pause:hover {
	background: #dfdfdf url(../img/pause.png) 21px 6px no-repeat;
}

.controlBar .speed-label span {
	font-size: 22px;
/* 	font-weight: bold; */
}

.controlBar .next {
	background: url(../img/next_date.png) 5 4 no-repeat;
}

.controlBar .prev {
	background: url(../img/prev_date.png) 10 4 no-repeat;
}

.controlBar .fforward {
	background: url(../img/right_arrow.png) 6 7 no-repeat;
}

.controlBar .frewind {
	background: url(../img/left_arrow.png) 6 7 no-repeat;
}

.tooltip {
	shape-rendering: crispEdges;
    opacity: 1; /* Override bootstrap style. */
}

.tooltip line, .tooltip rect {
	stroke-width: 2;
}

.tooltip line {
	stroke: black;
	stroke-opacity: 0.5;
}

.tooltip path {
	fill-opacity: 0.5;
}

.tooltip rect, .tooltip circle {
	stroke: white;
	fill-opacity: 0.75;
}

.tooltip circle {
	stroke-opacity: 0;
}

.tooltip text {
	font-family: Tahoma;
}

.tooltip text.shadow {
	fill: black;
	fill-opacity: 0.4;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .400;
  stroke-opacity: .100;
  /*shape-rendering: crispEdges;*/
}


#controlBarContainer {
	margin-top: 24px;
}

.transportBarContainer .chartgroups .charts .x .tick:nth-child(1) line,
.transportBarContainer .chartgroups .charts .x .tick:nth-child(2) line
{
    display:none;
}


.quarterSelected {
    display: block !important;
}
